---
layout: workshop      # DON'T CHANGE THIS.
root: .               # DON'T CHANGE THIS.
venue: 서강대학교        # brief name of host site without address (e.g., "Euphoric State University")
address: 서울특별시 마포구 백범로 35 (신수동)      # street address of workshop (e.g., "123 Forth Street, Blimingen, Euphoria")
country: Korea (Republic of)   # country (lowercase two-letter ISO code such as "fr" - see https://en.wikipedia.org/wiki/ISO_3166-1)
language: ko     # language (lowercase two-letter ISO code such as "fr" - see https://en.wikipedia.org/wiki/ISO_639-1)
latlng: 37.5503251,126.9425338       # fractional latitude and longitude (e.g., "41.7901128,-87.6007318"; you can use http://www.latlong.net/)
humandate: Nov 06-07, 2016    # human-readable date (e.g., "Feb 17-18, 2020")
humantime: 9:30 am - 5:30 pm    # human-readable time (e.g., "9:00 am - 4:30 pm")
startdate: 20161106      # use YYYY-MM-DD format like 2015-01-01
enddate: 20161107        # use YYYY-MM-DD format like 2015-01-02
instructor: ["이광춘", "Kari Jordan"] # list of names like ["Kay McNulty", "Betty Jennings", "Betty Snyder"]
helper: ["서상범"]     # list of names like ["Marlyn Wescoff", "Fran Bilas", "Ruth Lichterman"]
contact: kwangchun.lee.7@gmail.com      # contact email address for workshop organizer, such as "grace@hopper.org"
etherpad:         # optional (insert the URL for your Etherpad if you're using one)
eventbrite: 27560162187  # optional (insert the alphanumeric key for Eventbrite registration, e.g., "1234567890AB")
day1_am: "작업자동화 - 유닉스 쉘 프로그래밍"
day1_pm: "버젼관리 - Git/GitHub"
day2_am: "데이터 전처리 - R"
day2_pm: "통계모형과 기계학습 - R"
---
<!--
  HEADER

  Edit the values in the block above to be appropriate for your
  workshop.  Run 'tools/check' *before* committing to make sure that
  changes are good.
-->

<!--
  EVENTBRITE

  This block includes the Eventbrite registration widget if
  'eventbrite' has been set in the header.  You can delete it if you
  are not using Eventbrite, or leave it in, since it will not be
  displayed if the 'eventbrite' field in the header is not set.
-->
{% if page.eventbrite %}
<iframe
  src="https://www.eventbrite.com/tickets-external?eid={{page.eventbrite}}&ref=etckt"
  frameborder="0"
  width="100%"
  height="206px"
  scrolling="auto">
</iframe>
{% endif %}

<h2>General Information</h2>

<!--
  INTRODUCTION

  Edit the general explanatory paragraph below if you want to change
  the pitch.
-->
<p>
<a href=http://datacarpentry.org>데이터 카펜트리(Data Carpentry)</a> 워크샵은 분석하고자 하는 데이터를 갖는 연구원을 위한 자리로,
사전 전산 경험이 필요한 것은 아니다. 실습 워크샵을 통해 데이터를 효과적으로 다루는데 필요한
기본 개념, 기술, 도구를 배우게 된다.
</p>
<p>

양일에 걸친 워크샵을 통해 {{page.day1_am}}, {{page.day1_pm}}, {{page.day2_am}} and {{page.day2_pm}}을 배우게 된다.

워크샵 참석자는 노트북을 지참하여 참석하여야 하며 가능하면 뜻을 같이 하는 친구와 함께 적극적인 참여를 권장합니다.

워크샵을 말미에는 데이터를 효과적으로 다루고 분석할 수 있는 역량을 갖추게 되어, 학습한 도구와 접근법을 바로 
진행중인 연구에 적용할 수 있게 된다.
</p>

<!--
  AUDIENCE

  Explain who your audience is.  (In particular, tell readers if the
  workshop is only open to people from a particular institution.
-->
<p>
  <strong>워크샵 참여 대상:</strong>
  대학원생과 연구원, 데이터 과학 실무자를 목표로 개발된 과정입니다.
</p>

<!--
  LOCATION

  This block displays the address and links to maps showing directions
  if the latitude and longitude of the workshop have been set.  You
  can use http://itouchmap.com/latlong.html to find the lat/long of an
  address.
-->
{% if page.latlng %}
<p>
  <strong>Where:</strong>
  {{page.address}}.  
  <a href="//www.openstreetmap.org/?mlat={{page.latlng | replace:',','&mlon='}}&zoom=16">OpenStreetMap</a>
  혹은
  <a href="//maps.google.com/maps?q={{page.latlng}}">Google Maps</a>을 참조하여 찾아오세요.
</p>
{% endif %}

<!--
  SPECIAL REQUIREMENTS

  Modify the block below if there are any special requirements.
-->
<p>
  <strong>사전 준비물:</strong> 워크샵에 참여하시는 분은 관리자 권한을 갖는 맥, 리눅스, 윈도우 운영체제가 탐재된 노트북을 
  지참하셔야 합니다. (스마트폰, 태블릿, 크롬북 등은 권장하지 않음) <a href="#setup">아래 설정</a> 표기된 데이터과학 컴퓨팅을 위한 
  사전 소프트웨어 팩키지를 설치하셔야 됩니다.  <a href="http://statkclee.github.io/xwmooc-sc/conduct.html">행동강령(code of conduct) 준수</a>를 하셔야 하고,
  사전에 다음 정보를 탐독하시면 도움이 됩니다. <a href="https://statkclee.github.io/xwMOOC/">기계와 더불어 사는 한국인 xwMOOC</a> 교육 콘텐츠.  

  <ul>
    <li>컴퓨터 과학 언플러그드</li>
    <li>리보그 (러플의 후예)</li>
    <li>소프트웨어 카펜트리</li>
    <li>정보교육을 위한 파이썬</li>
    <li> <a href="http://statkclee.github.io/data-science/"> 데이터 과학 </a> </li>    
    <li>기계학습</li>    
    <li>R 병렬 프로그래밍</li>
    <li>xwMOOC 딥러닝</li>
  </ul>
</p>

<!--
  CONTACT EMAIL ADDRESS

  Display the contact email address set in the header.  If an address
  isn't set in the header, the Software Carpentry admin address is
  used.
-->
<p>
  <strong>연락처</strong>:
  궁금하신 내용은 전자우편을 보내주세요.
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}  
</p>

<hr/>

<!--
  SCHEDULE

  Show the workshop's schedule.  Edit the items and times in the table
  to match your plans.  You may also want to change 'Day 1' and 'Day
  2' to be actual dates or days of the week.
-->
<h2>워크샵 일정</h2>

<!-- DO NOT EDIT SURVEY LINKS -->


<div class="row">
  <div class="col-md-6">

    <h3>첫째날</h3>
    <table class="table table-striped">
      <tr> <td>오전</td>  <td>{{page.day1_am}}</td> </tr>
      <tr> <td>오후</td>  <td>{{page.day1_pm}}</td> </tr>
    </table>
 
 
    <h3>둘째날</h3>
    <table class="table table-striped">
      <tr> <td>오전</td>  <td>{{page.day2_am}}</td> </tr>
      <tr> <td>오후</td>  <td>{{page.day2_pm}}</td> </tr>
    </table>
 </div>
</div>

<!--
  ETHERPAD

  Display the Etherpad for the workshop.  You can set this up in
  advance or on the first day; either way, make sure you push changes
  to GitHub after you have its URL.  To create an Etherpad, go to

      http://etherpad.mozilla.org/YYYY-MM-DD-site

  where 'YYYY-MM-DD-site' is the identifier for your workshop (e.g.,
  '2015-06-10-esu'.
-->
{% if page.etherpad %}
<p>
  <strong>Etherpad:</strong> <a href="{{page.etherpad}}">{{page.etherpad}}</a>.
  <br/>
  We will use this Etherpad for chatting, taking notes, and sharing URLs and bits of code.
</p>
{% endif %}

<hr/>

<h2>교육과정</h2>

<div class="row">
  <div class="col-md-6">
    <h3>유닉스 쉘</h3>
    <ul>
	    <li>쉘(shell) 소개</li>
	    <li>파일과 디렉토리</li>
	    <li>파일과 디렉토리 생성</li>
	    <li>파이프(pipe)와 필터(filter)</li>
	    <li>루프(Loops)</li>
	    <li>쉘 스크립트(shell script)</li>
	    <li>파일, 문자, 디렉토리  등 찾기</li>
        <li><a href="http://statkclee.github.io/shell-novice/index-kr.html">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3>R 프로그래밍</h3>
    <ul>
	    <li>환자 데이터(Patient Data) 분석</li>
	    <li>함수 생성</li>
	    <li>다수의 데이터셋 분석</li>
	    <li>조건 선택</li>
	    <li>명령-라인(Command-Line) 프로그램</li>
	    <li><a href="http://statkclee.github.io/r-novice-inflammation/index-kr.html">Reference...</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>버젼 관리(Git)</h3>
    <ul>
    <li>버젼 관리 소개</li>
    <li>파일에 변경사항 저장: <code>add</code>, <code>commit</code>, ...</li>
    <li>변경사항 확인: <code>status</code>, <code>diff</code>, ...</li>
    <li>파일 무시(ignore)</li>
    <li>웹에서 작업: <code>clone</code>, <code>pull</code>, <code>push</code>, ...</li>
    <li>충돌(Conflicts) 해결</li>
    <li>공개 과학(Open Science)</li>
    <li>협업(Collaboration)</li>
    <li><a href="http://statkclee.github.io/git-novice/index-kr.html">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3>통계모형과 기계학습</h3>
    <ul>
      <li>모형이란 무엇인가?</li>
      <li>선형대수와 회귀모형</li>
      <li>모형 성능과 평가</li>
      <li>전통 통계모형과 기계학습 모형</li>
      <li><a href="http://statkclee.github.io/ml/">Reference...</a></li>
    </ul>
  </div>
</div>

<hr/>

<!--
  SETUP

  Delete irrelevant sections from the setup instructions.  Each
  section is inside a 'div' without any classes to make the beginning
  and end easier to find.

  This is the other place where people frequently make mistakes, so
  please preview your site before committing, and make sure to run
  'tools/check' as well.
-->

<h2 id="setup">설정</h2>

<p>
데이터 카펜트리 워크샵에 참여하기 위해서, 다음에 기술된 소프트웨어 툴체인을 구축하여 
사전에 동작하게 만들 필요가 있다. 워크샵 시작전에 필요한 모든 소프트웨어가 설치되었는지 확인한다.
(적어도 소프트웨어를 다운로드하거나 인스톨러를 준비)

워크샵이 마무리 되어 집에 갈 준비가 되면 데이터 과학 업무를 수행하는데 적합한 툴체인과 효율적인 작업흐름을 갖추게 된다.

<p>
<a href=install.html>설치 안내(영문)</a>를 참고하여 준비한다. 국문 {% include setup.html %}

<p>
  데이터 카펜트리에서 
  <a href = "https://github.com/swcarpentry/workshop-template/wiki/Configuration-Problems-and-Solutions">환경설치 문제점과 해결책에 대한 위키 페이지</a>를 운영하고 있으니
  설치시 참조한다.
</p>

